@charset "UTF-8";

@font-face {
    font-family: android;
    src: url('fontes/idroid.otf')
    format('opentype');
}

@font-face {
    font-family:principal ;
    src: url(fontes/BebasNeue-Regular.ttf) ;
}

body {
    background-color:#EBE5C5;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0px;
   
    
       
}


header {
    background-image: linear-gradient(to bottom , #279559,#1A7242, #063D1E );
    padding-bottom: 20px;
    padding-top: 30px;
    color: white;
    
    
       
} 

.principal{
    font-family: 'principal', Times, serif;
    color: white;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-size:48px;
    text-align: center;
    
}

.paragrafo {
    height:80px;
    font-size: 18px;
    text-align: center;
    
    
    
}

nav {
    text-align:left;
    
     
}

nav > div > a {
    color:#43ec8f;
    text-decoration: none;
    margin-right:5px;
    padding: 10px;
   
       
}

a:hover {   
    
    background-color:#2A9E5F;
    color:#063D1E ;
    padding: 10px;      
} 

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > p {
    
}

h1 {
   font-family: 'android', Times, serif;
   font-size:30px;
   color: #063D1E;
   margin: 10px;
   
}

h2 {
    font-family: 'android', Times, serif;
    background-image: linear-gradient(to right,#8AE3B1, #ffffff); 
    color: #1A5C37;
    text-align: left;
    
}

h3 {
    background-color:#1A5C37;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
    text-align: left;
     
}

.link {
    background-color:#83E1AD ;
    color:#063D1E ;
    text-decoration: underline; 
}

.video {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:#063D1E;
    text-align: center;
}

article {
   text-align: center;
}

article > aside {
    background-color:#83E1AD ;
    padding: 10px 10px 10px 10px;
}

picture {
    
}
 
footer {
    background-color: #15492c; 
    color: white;
    padding: 5px;
    text-align: center;
}